*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

/* NAV BAR */
.message{
  height: 25px;
  text-align: center;
  color: white;
  background-color: black;
  
}
.header {
  padding: 15px 50px 15px 50px;
  background-color: #987654;
  width: 100%;
  height: 80px;
}

.left-nav{
  margin-top: 8px;
}
.nav-icons {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16pt;
  color: black;

}
.nav-icons-r{
  height: 50px;
  width: 50px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16pt;
  color: black;
}
.nav-icons-r:hover{
  height: 53px;
  width: 53px;
}
.nav-icons:hover{
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.nav-title{
  color: black;
  text-decoration: none;
  text-align: center;
}

.logo {
  font-family: 'Abril Fatface', cursive;
}
.nav-title:hover{
  text-decoration: none;
  
  color: black;
}

/* HOME PAGE */
.image{
  width: 600px
}

.main{
  padding: 30px;
}

.info{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.rightbox{
  padding: 50px;
  margin-left: 100px;
  width: 0 auto;
}

/* ABOUT PAGE */
.about{
  font-family: 'Abril Fatface', cursive;
}


/* SHOP PAGE */

.shop{
  margin-top: 40px;
  padding: 20px;
  font-size: 32pt;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.filter-card{
  
  text-align: left;
  padding: 15px;
  margin-top: 100px;
  margin-left: 50px;
  
  width: 200px;
}

.product-card{
  
  padding: 10px;
  color: black;
  text-decoration: none;
}
.product-card:hover{
  
  color: black;
  text-decoration: none;
}

.all{
  margin-left: 50px;
}
.product-link{
  margin: 20px;
}
.product-link:hover{
  
  text-decoration: none;
}
.product-name{
  font-size: 16pt;
  font-weight: bold;
}
.product-name:hover{
  
  text-decoration: none;
}
.product-info{
  font-size: 14pt;
  padding: 0px 20px 0px 20px
}
.product-image{
  height: 230px;
  width: 230px;
  border: 1px solid black;
}
.product-image:hover{
  
  border: 2px solid black;
}

.checkbox{
  margin-right: 5px;
}

.main-container{
  padding: 25px;
  margin: 100px 300px 50px 300px;
  border: 2px solid black;
  text-align: start;
}

.mini-image{
  height: 70px;
  width: 70px;
}

.main-image{
  border: 1px solid black;
}

.main-product-text{
  font-weight: bold;
}

.one-product-info{
  padding: 25px;
}

.add-to-cart{
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.list{
  list-style-type: square;

}
.more-product-content{
  padding: 0px 350px 0px 350px;
  text-align: left;
}
.collapsible{
  cursor: pointer;
}

.collapsible-content{
  display: none;
  overflow: hidden;
}

.cart-number{
  margin-top: 10px;
  font-weight: bold;
}

.cart-container{
  padding: 25px;
  text-align: left;
  margin-top: 100px;
}

.cart-item{
  margin-top: 25px;
  display: flex;
}

.your-cart{
  border-bottom: 1px solid black;
}

.item-name{
  font-size: 16pt;
  margin-top: 20px;
  text-align: center;
}

.home-images{
  height: 300px;
  width: 300px
}

.images-container{
  margin-top: 15px;
  display: flex;
  justify-content: center
}

.table{
  margin-top: 50px;
}

.checkout{
  display:flex;
  justify-content: space-evenly;
}

.totals{
  font-weight: bold;
  margin-left: 5px;
}

.howtouse{
  font-size: 20pt;
}