.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  padding: 20px;
}

.box{
  border: 2px solid black;
  background-color: orange;
  padding: 25px
}

.header{
  color: white;
  padding: 15px;
  background-color: saddlebrown;
  border: 2px solid black;
}
.btn1{
  border: 2px solid black;
  background-color: #085394;
  color: white;
  box-shadow: 3px 3px black;
}
.btn2{
  border: 2px solid black;
  background-color: firebrick;
  color: white;
  box-shadow: 3px 3px black;
}

.pirateCard{
  padding: 15px;
  background-color: white;
  border: 2px solid black;
}

.link {
  color: white;
  text-decoration: none;
}

.label{
  text-align: start;
}

.create{
  margin-top: 100px;
}

.name{
  text-align: center;
}