.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.box {
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
  width: fit-content;
}

.header{
  padding-top: 10px;
}
.addBox{
  margin: 0 auto;
  width: fit-content;
  border: 2px solid black;
  text-align: start;
  padding: 15px
}
.table1{
  border: 2px solid black;
  margin: 0 auto;
  width: 700px;
}

.button {
  margin-left: 300px;
}
.playerstatus{
  text-align: start;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}



.checkbox{
  display: none;

}

.bigger {
  font-size: 24pt;
  font-weight: bold;
}

.big{
  font-size: 16pt;
}

.error {
  text-align: center;
  font-weight: bold;
  color: red;
}